.button {
  background: none;
  border: 1px solid #888;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background: #f0f0f0;
  }

  &:disabled {
    background: #f0f0f0;
    cursor: not-allowed;
  }
}
